@font-face {
	font-family: 'Helvetica';
	src: url('/fonts/helvetica.woff2') format('woff2'),
		url('/fonts/helvetica.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Use the font in your CSS */
body {
	font-family: 'Helvetica', sans-serif;
}

a:visited {
	text-decoration: none;
	color: #681da8;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 169, 222);
}

.navbar ul {
	/* position: fixed; */
	display: flex;
	background-color: rgb(255, 230, 245);
	justify-content: space-evenly;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar li {
	margin: 0 20px;
	color: #000000;
	background-color: rgb(255, 230, 245);
	border-radius: 5px;
	border: 3px solid transparent;
	/* add transparent border */
}

.navbar li:hover {
	border-color: rgb(60, 25, 65);
	/* change border color on hover */
	background-color: rgb(60, 25, 65);
	color: white;
}

.navbar li a {
	text-decoration: none;
}

.logo img {
	display: block;
	margin: 0 auto;
	padding: 4%;
}

body {
	background-color: rgb(210, 209, 255);
	margin: 0px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.05);
	padding: 1.5% 0 0 0;
	margin: 0 20% 0 20%;
	min-height: calc(100vh - 20vh);
}

main section {
	background-color: rgb(255, 169, 222);
	border: 1px solid black;
	margin: 0 3% 0 3%;
	min-height: calc(100vh - 20vh);
}

footer {
	margin: 0 20% 0 20%;
	background-color: rgb(0, 0, 0, 0.05);


}

.footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	/* background-color: rgb(255, 169, 222); */
	padding: 1.5% 0 0 0;
	margin: 0 3% 0 3%;
	/* border: 1px solid black; */
}

.footer-social ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-social li {
	margin: 0 10px;
	color: #000000;
	background-color: rgb(255, 230, 245);
	padding: 10px;
	border-radius: 5px;
	border: 3px solid transparent;
	/* add transparent border */
}

.footer-social li:hover {
	border-color: rgb(60, 25, 65);
	/* change border color on hover */
	background-color: rgb(60, 25, 65);
	color: white;
}

.footer-social li a {
	text-decoration: none;
}